.card-body img {
	width: 200px;
}

img {
  width: 100%;
}

.logo {
	font-family: 'Roboto Mono', monospace;
}

html {
  position: relative;
  min-height: 100%;
}

.table a
{
    display:block;
    text-decoration:none;
    color: black;
}