.card-body img {
	width: 200px;
}

iframe {
  border-radius: 25px;
}

.my-btn {
  background-color: #339EFF;
  border-color:#339EFF;
  border-width: 2px;
  color: #FFF;
}
.my-btn:hover {
  background-color: #A853F2;
  border-color:#A853F2;
  border-width: 2px;
  color: #FFF;
}
.form-control {
  border-color:#339EFF;
  color:#339EFF;
  border-width: 2px;
}
.input-group-text {
  border-width: 2px;
  border-color:#339EFF;
  background-color: #339EFF;
  color: #FFF;
}

footer {
  background-color: #339EFF;
}

img {
  width: 100%;
}

.logo {
	font-family: 'Roboto Mono', monospace;
}

html {
  position: relative;
  min-height: 100%;
}

.table a
{
    display:block;
    text-decoration:none;
    color: black;
}